
@model iShop_ht.ViewModels.ClassListModel




@if (Model.clss.Where(x => x.Upcode == Model.Seed).Any())
{
    <ul class="catalog__ul">
        @foreach (var node in Model.clss)
        {
            if (node.Upcode == Model.Seed)
            {
                iShop_ht.ViewModels.ClassListModel inner = new iShop_ht.ViewModels.ClassListModel { Seed = node.Code, clss = Model.clss };
                <li class="catalog__ul_li">
                    @if (node.Isgroup == true)
                    {
                        <div class="new__li flex">
                            <p class="new__li_znak flex"></p>
                            <a id="update-container" tree_id=@node.Code.ToString()>@node.Name</a>
                            @*@Html.ActionLink(@node.Name, "IndexClass", "Home", new { Id = @node.Code }, new { id = "update-container" })*@
                            @*@Ajax.ActionLink(@node.Name, "Index", "Home", new AjaxOptions { UpdateTargetId = @node.Code.ToString() },new { Id = @node.Code })*@
                        </div>
                    }

                    else
                    {
                        <div class="new__li0 flex">
                            <p class="new__li_noznak"></p>
                            <a id="update-container" tree_id=@node.Code.ToString()>@node.Name</a>
                            @*@Html.ActionLink(@node.Name, "IndexClass", "Home", new { Id = @node.Code }, new { id = "update-container" })*@
                            @*@Ajax.ActionLink(@node.Name, "Index", "Home", new AjaxOptions { UpdateTargetId = @node.Code.ToString() }, new { Id = @node.Code })*@
                        </div>
                    }
                    <ul class="catalog__ul1">
                        @Html.Partial("_TreeList", inner)
                    </ul>
                </li>
            }
        }
    </ul>
}
