
@model IEnumerable<iShop_ht.Models.I_class>


<ul class="catalog__ul">
    @foreach (var node in Model.Where(n => n.Upcode == 0))
    {

        <li class="catalog__ul_li">
            @if (node.Isgroup == true)
            {
                <div class="new__li flex">
                    <p class="new__li_znak flex"></p>
                    @*<a id="update-container" tree_id=@node.Code.ToString()>@node.Name</a>*@
                    @Ajax.ActionLink(@node.Name, "IndexClassPart", "Home", new { ClassId = @node.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })

                </div>
            }

            else
            {
                <div class="new__li0 flex">
                    <p class="new__li_noznak"></p>
                    @*<a id="update-container" tree_id=@node.Code.ToString()>@node.Name</a>*@
                    @Ajax.ActionLink(@node.Name, "IndexClassPart", "Home", new { ClassId = @node.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })

                </div>
            }
            <ul class="catalog__ul1">
                @foreach (var node2 in Model.Where(n => n.Upcode == node.Code))
                {

                    <li>
                        @if (node2.Isgroup == true)
                    {
                            <div class="new__li flex">
                                <p class="new__li_znak flex"></p>
                                @*<a id="update-container" tree_id=@node2.Code.ToString()>@node2.Name</a>*@
                                @Ajax.ActionLink(@node2.Name, "IndexClassPart", "Home", new { ClassId = @node2.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })
                            </div>
                            <ul class="catalog__ul1">
                                @foreach (var node3 in Model.Where(n => n.Upcode == node2.Code))
                                {

                                    <li>
                                        @if (node3.Isgroup == true)
                                        {
                                            <div class="new__li flex">
                                                <p class="new__li_znak flex"></p>
                                                @*<a id="update-container" tree_id=@node3.Code.ToString()>@node3.Name</a>*@
                                                @Ajax.ActionLink(@node3.Name, "IndexClassPart", "Home", new { ClassId = @node3.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })
                                            </div>
                                            <ul class="catalog__ul1">
                                                @foreach (var node4 in Model.Where(n => n.Upcode == node3.Code))
                                {

                                                    <li>
                                                        @if (node4.Isgroup == true)
                                                        {
                                                            <div class="new__li flex">
                                                                <p class="new__li_znak flex"></p>
                                                                @*<a id="update-container" tree_id=@node3.Code.ToString()>@node3.Name</a>*@
                                                                @Ajax.ActionLink(@node4.Name, "IndexClassPart", "Home", new { ClassId = @node4.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="new__li0 flex">
                                                                <p class="new__li_noznak"></p>
                                                                @*<a id="update-container" tree_id=@node3.Code.ToString()>@node3.Name</a>*@
                                                                @*@Ajax.ActionLink(@node3.Name, "IndexClassPart", "Home", new { ClassId = @node3.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })*@
                                                                @Ajax.ActionLink(@node4.Name, "IndexClassPart", "Home", new { ClassId = @node4.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })
                                                            </div>
                                                        }
                                                    </li>

                                                }
                                            </ul>

                                        }
                                        else
                                        {
                                            <div class="new__li0 flex">
                                                <p class="new__li_noznak"></p>
                                                @*<a id="update-container" tree_id=@node3.Code.ToString()>@node3.Name</a>*@
                                                @*@Ajax.ActionLink(@node3.Name, "IndexClassPart", "Home", new { ClassId = @node3.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })*@
                                                @Ajax.ActionLink(@node3.Name, "IndexClassPart", "Home", new { ClassId = @node3.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })
                                            </div>
                                        }
                                    </li>

                                }
                            </ul>


                        }
                        else
                        {
                            <div class="new__li0 flex">
                                <p class="new__li_noznak"></p>
                                @*<a id="update-container" tree_id=@node2.Code.ToString()>@node2.Name</a>*@
                                @Ajax.ActionLink(@node2.Name, "IndexClassPart", "Home", new { ClassId = @node2.Code }, new AjaxOptions { UpdateTargetId = "ContentId" })
                            </div>
                        }
                    </li>
                }
            </ul>

        </li>

    }
</ul>
