
@{
    ViewBag.Title = "Commodity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="entry">

    <div class="product">

        <div class="breadcrumbs">
            <a href="\">Главная</a> <span class="arrow"></span>
        </div><!-- .breadcrumbs -->

        @{foreach (var line in Model)
            {
                <h1 class="page-title">@line.Name</h1>
                <div class="product__inner">
                    <div class="product__photo">
                        <div class="product__photo-big">
                            <img src='@Url.Action("GetImage", "Image", new { id = @line.Code, img = "300" } )' width="188" height="188" alt="" />
                        </div>
                        @*<div class="product__photo-big"><img src="http://imgholder.ru/280x220/D9C6C6" alt="" /></div>*@
                        <div class="product__photo-thumbs">
                            <div class="thumb  active" data-big="http://imgholder.ru/280x220/D9C6C6"><img src="http://imgholder.ru/73/D9C6C6" width="73" height="73" alt="" /></div>
                            <div class="thumb" data-big="http://imgholder.ru/280x220/D7DBCA"><img src="http://imgholder.ru/73/D7DBCA" width="73" height="73" alt="" /></div>
                            <div class="thumb" data-big="http://imgholder.ru/280x220/CDDBE0"><img src="http://imgholder.ru/73/CDDBE0" width="73" height="73" alt="" /></div>
                        </div><!-- .product__photo-thumbs -->
                    </div><!-- .product__photo -->
                    <div class="product__main">

                        <div class="product__price"><span>@line.Price.ToString("N2")</span> руб.</div>

                        <div class="product__buy  button" data-id="@line.Code">В корзину</div>

                        <div class="tabs__content active">
                            <div class="tabs">
                                <ul class="tabs__caption">

                                    <li class="active1">
                                        Характеристики
                                    </li>

                                </ul>
                                <table class="card_table" style="margin-left:-10px;" cellspacing="0" cellpadding="3" border="0">
                                    <!--Описание товара-->
                                    <tbody>

                                        <!--Описание товара конец-->
                                        <!--Технические характеристики-->
                                        @Html.Raw(@line.Property)

                                    </tbody>
                                </table>


                            </div><!-- .tabs__content -->

                        </div><!-- .tabs -->

                    </div><!-- .product__main -->
                </div><!-- .product__inner -->
            }
        }


    </div><!-- .product -->

</div><!-- .entry -->
