@*@model IEnumerable<iShop_ht.Models.I_commodity>*@
@model PagedList.IPagedList<iShop_ht.Models.I_commodity>
@using PagedList.Mvc;



<h1></h1>
<div class="items">
    @{foreach (var line in Model)
        {
            <div class="item">
                <div class="item__title"><a href="/Home/Commodity/@line.Code">@line.Name</a></div>
                <div class="item__image"><img src='@Url.Action("GetImage", "Image", new { id = @line.Code, img = "150" } )' width="188" height="188" alt="" /></div>
                <div class="item__bottom">
                    <div class="item__price"><span>@line.Price.ToString("### ### ###")</span> руб.</div>
                    <a href="#" class="item__buy" data-id="@line.Code"></a>
                </div><!-- .item__bottom -->
            </div>
        }
    }
</div>

@Html.PagedListPager(
                    Model,
                    page => Url.Action("IndexClassPart", "Home",
                    new
                    { page }),
                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                         new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "list_items" })
                    )



<script type="text/javascript">
                        $(function () {

                            $(".item__buy").click(function () {

                                var recordToAdd = $(this).attr("data-id");
                                //alert("recordToAdd =" + recordToAdd);
                                if (recordToAdd != '') {

                                    $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                                        function (data) {
                                            $('.header__cart-count-2').text(data.CartCount);
                                            $('a[data-id=' + recordToAdd + ']').toggleClass(".item__buy a_visited");

                                        });

                                };
                            });

                        });



</script>



